h1 {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 8px;
    background-color: red;
    color: #ffffff;
    font-size: 40px;
}

body {
    background-color: #6199f8;
}

h2 {
    font-family: IBM Plex Sans;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 68px;
    color: #ffffff;
    margin: 21px;
    padding: 13px;
}
